.navbar-default {
    background-color: black;
	  border: 0px;
    padding: 18px 0;
    transition: all 0.3s;
}
.navbar-brand {
    font-size: 34px;
    font-family: 'Satisfy';
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    outline: none;
}
.navbar-default .navbar-nav > li > a {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
  outline: none;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #00BFB2;
}

.active{
  color: #00BFB2 !important;
  border-bottom: 4px solid #00BFB2;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #00BFB2;
    border-bottom: 4px solid #00BFB2;
}

.top-nav-collapse {
    padding: 0;
    background: rgba(50,60,70, 0.9);
}
