<a class="anchor" id="about"></a>
<section id="about-sec" class="section-padding">
  <div class="container">
    <h2>About</h2>
    <div class="row">
      <div class="col-md-6" style="margin-top: 5px">
        <p class="about-text">
          Origins In Ink is an award winning tattoo shop located at 903 N. Main St in North Syracuse, NY. It’s mission, to keep the drama in the imagery and out of the shop. It’s success is greatly due in part to the handful of loyal returning clientele bringing
          friends and family who appreciate the relaxed atmosphere and artistic integrity. Owner Kevin Hewitt has been tattooing in the Syracuse area for over 10 years, in addition to studying art and illustration in college.
        </p>
        <p>
          &nbsp;
        </p>
        <p class="about-text">
          We are here to satisfy and create all of your custom body art needs. Walk-ins are welcome, but most work is done by appointment. We recommend a consultation for most pieces, and require one for anything custom. No appointments are made over the internet,
          but feel free to contact us with any questions, comments or concerns!
        </p>
      </div>
      <div class="col-md-6 text-left">
        <img class="img-responsive" src="./assets/img/shop/inside.jpg" />
      </div>
    </div>
  </div>
</section>
