<div class="history-div container">
  <h1>History</h1>
  <div class="row">
    <div class="col-md-6" style="margin-top: 5px">
      <p>
        During the cold Syracuse winter of 1976, two people with an abundance of free time engaged in the conception of life. By choice or accident, the couple conceived an introverted entity that absorbed the environment that tried to consume him. He responded
        with creative force, concentrated and astute, that would later be recognized as artistic super powers.
      </p>
      <p>
        Educational institutions would nurture his craft through many years of tempering only to be left bittersweet by the graduation and pursuant will of such a gifted mind. The student surpassed the teachers and journeyed toward an unforeseen calling that
        had not quite yet revealed itself as friend or foe but called nonetheless.
      </p>
      <p>
        We are here to satisfy and create all of your custom body art needs. Walk-ins are welcome, but most work is done by appointment. We recommend a consultation for most pieces, and require one for anything custom. No appointments are made over the internet,
        but feel free to contact us with any questions, comments or concerns!
      </p>
      <p>
        In the first year of the new Millennium, while toiling resentfully in the sweaty grease of local kitchens, an offering was presented. An opportunity to that of which carried endless creative possibilities. A chance to truly engage the depths of artistry.
        To hone the galactic force of craftsmanship down to the singularity of a needle point. To join the ranks of honored tradesmen who illustrate stories in skin; who capture moments in time and bury them underneath the surface of thin human coatings.
        Tattooing was the infinite calling. The feverish delusions he saw when he was a young boy. So into the wind of this challenge he walked knowing that the stakes couldn’t be higher.
      </p>
      <p>
        Kevin made a lot of mistakes.
      </p>
      <p>
        Kevin had few successes.
      </p>
      <p>
        Kevin learned.
      </p>
      <p>
        Kevin failed some more.
      </p>
      <p>
        Kevin grew.
      </p>
      <p>
        Kevin opened Origins In Ink in 2008.
      </p>
      <p>
        Kevin pretends he knows what he’s doing.
      </p>
      <p>
        Kevin makes more people happy than sad.
      </p>
      <p>
        Kevin is happy.
      </p>
    </div>
    <div class="col-md-6 text-left">
      <!-- <img class="img-responsive" src="./assets/img/shop/inside.jpg" /> -->
      <img class="img-responsive" src="./assets/img/shop/chair.jpg" />
    </div>
  </div>


</div>
