<section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row">
      <br />
      <h2 class="title text-center">What our clients have said</h2>
      <br />
      <div class="test-sec">
        <div class="col-sm-4">
          <blockquote>
            <p>I love this place. I found out about Origins In Ink about 8 years ago and haven't gone anywhere else since. I've been tattooed by several of their artists and every tattoo has come out perfect. Their owner Kevin will forever and always be
              my go to guy. Amazing work!!</p>
          </blockquote>
        </div>
        <div class="col-sm-4">
          <blockquote>
            <p>This was my first professional tattoo and I could not have asked for a better experience. The first day I walked in, Kevin made me feel comfortable with all of the important questions he was asking to make sure I was going to get what I really
              had in mind. However, I did not get what I had in mind. It was absolutely BETTER than I have ever imagined this tattoo to be. Throughout the process of getting inked, Kevin and I made small talk about artwork and tattoos in general. Communication
              plays a HUGE role in my life and choosing Kevin as my artist was by far, the best thing I could have done.:)</p>
          </blockquote>
        </div>
        <div class="col-sm-4">
          <blockquote>
            <p>I went into Origins In Ink yesterday for the Friday the 13th flash sale and got my 13th tattoo on friday the 13th. Which was super awesome! The shop was insanely busy due to the flash sale and the wait for a tattoo was about 2-2 and 1/2 hours.
              But it wasn't a terrible wait. The staff was extremely friendly and very clean!! Loved the experience and I'm loving my new tat. Thanks guys!</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <br />
</section>
