<div class="welcome-img">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="header-text text-center">
            <h2>Welcome to <span>Origins in Ink</span></h2>
            <p>
              For all your custom body art needs
            </p>
            <br />
            <a class="social-media-link" href="https://www.facebook.com/originsininktattoo"><i class="fa fa-facebook-square fa-5x social-media-icon" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
